[% SET width  = 14 %]
[% SET height = 14 %]
[% SET xoffset = width / 2 %]
[% SET yoffset = height / 2 %]

<use xlink:href="#pip" 
     width="[% width %]" height="[% height %]" 
     x="[% x %]" y="[% y %]" 
     [% UNLESS flip %]
     transform="translate(-[% xoffset %] -[% yoffset %])" 
     [% ELSE %]
     transform="translate([% 63.5 + xoffset %] [% 88.9 + yoffset %]) rotate(180)"
     [% END %]/>